@using teamcare.common.Helpers
@model teamcare.business.Models.ServiceUserModel
<!--begin::Col-->
<div class="col-md-6 col-xxl-3">
    <!--begin::Card-->    
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                <!--begin::Avatar-->
                <a href="@Url.Action("Detail","ServiceUsers", new { id = @Model.Id })" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">
                    <div class="symbol symbol-65px symbol-circle mb-5">
                        <img src="@(Model.ProfilePhoto !=null ? Model.PrePath+"/"+Model.ProfilePhoto.BlobName+"?width=200":"../../media/avatars/blank.png" )" alt="image" />
                    </div>
                </a>
                <!--end::Avatar-->
                <!--begin::Name-->
                @Model.Title.GetEnumDescription() @Model.FirstName @Model.LastName
                &nbsp; &nbsp;@{ var idName = "su-favourite" + @Model.Id; }
                @if (Model.Favourite)
                {
                    <img id="@idName" src="/media/svg/files/on_favourite_star.svg" class="h-20px align-self-center" alt="" />
                }
                <!--end::Name-->
                <!--begin::Position-->
                <div class="fw-bold text-gray-400 mb-6">@(Model.Residence != null?Model.Residence.Name:"")</div>
                <!--end::Position-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    
</div>
<!--end::Col-->