@model teamcare.business.Models.ServiceUserModel
<tr>
    <td>
        @{ var idName =  @Model.Id; }
        <img id="@idName" src="@( !Model.Favourite ? " /media/svg/files/off_favourite_star.svg" : "/media/svg/files/on_favourite_star.svg" )"
             onclick="setAsFavourite('@Model.Id', '@idName');" class="h-20px align-self-center cursor-pointer" alt="" />
    </td>
    <td>
        <div class="d-flex align-items-center">
            <div class="symbol symbol-45px me-5">                
                <img src="@(Model.ProfilePhoto !=null ? Model.PrePath+"/"+Model.ProfilePhoto.BlobName+"?width=200" :"../media/avatars/blank.png" )" alt="image" />
            </div>
            <div class="d-flex justify-content-start flex-column">
                <a href="@Url.Action("Detail","ServiceUsers", new { id = @Model.Id });" class="text-dark fw-bolder text-hover-primary fs-6">@Model.Title @Model.FirstName @Model.LastName</a>
                <span class="text-muted fw-bold text-muted d-block fs-7">@Model.KnownAs</span>
            </div>
        </div>
    </td>
    <td>
        <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">@Model.Address</a>
        <span class="text-muted fw-bold text-muted d-block fs-7">Admission from @Model.DateOfAdmission.ToString("MMM, dd yyyy")</span>
    </td>
    <td>
        <div class="d-flex justify-content-end flex-shrink-0">
            <a href="#RemoveFavourite"
               onclick="setAsFavourite('@Model.Id', 'su-favourite', 'd')"
               class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                <!--begin::Svg Icon | path: icons/duotone/General/Trash.svg-->
                <span class="svg-icon svg-icon-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero" />
                            <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </a>
        </div>
    </td>
</tr>