@model List<teamcare.business.Models.ServiceUserModel>
@{ var favouriteUsers = Model.ToList().Where(x => x.Favourite == true).ToList().Count(); }
<!--begin::List Widget 2-->
@if (favouriteUsers > 0)
{
    <div class="card card-xl-stretch mb-xl-8">
        <!--begin::Header-->
        <div class="card-header border-0">
            <h3 class="card-title fw-bolder text-dark">Favourite Service Users (@favouriteUsers)</h3>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body pt-2">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (item.Favourite)
                    {
                        var idName = @item.Id;
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-7">
                            <!--begin::Avatar-->
                            <div class="symbol symbol-45px me-5">
                                <img src="@(item.ProfilePhoto != null ? item.PrePath + "/" + item.ProfilePhoto.BlobName + "?width=200" : "../media/avatars/blank.png" )" alt="image" />
                            </div>
                            <!--end::Avatar-->
                            <!--begin::Text-->
                            <div class="flex-grow-1">
                                <img id="@idName" src="@( !item.Favourite ? " /media/svg/files/off_favourite_star.svg" : "/media/svg/files/on_favourite_star.svg" )"
                                     onclick="setAsFavourite('@item.Id', '@idName');" class="h-20px align-self-center cursor-pointer p-1" alt="" />
                                <a href="@Url.Action("Detail", "ServiceUsers", new { id = item.Id })" class="text-dark fw-bolder text-hover-primary fs-6">@item.Title @item.FirstName @item.LastName</a>
                                <span class="text-muted fw-bold text-muted d-block fs-7 " style="margin-left:25px">@item.KnownAs</span>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Item-->
                    }
                }
            }
        </div>
        <!--end::Body-->
    </div>
    <!--end::List Widget 2-->
}
else
{
<div class="card card-xl-stretch mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0">
        <h3 class="card-title fw-bolder text-dark">Favourite Service Users (0)</h3>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-2">
        <!--begin::Item-->
        <div class="d-flex align-items-center bg-light-warning rounded p-5 mb-7">
            <!--begin::Icon-->
            <span class="svg-icon svg-icon-warning me-5">
                <!--begin::Svg Icon | path: icons/duotone/Home/Library.svg-->
                <span class="svg-icon svg-icon-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000" />
                            <rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)" x="16.3255682" y="2.94551858" width="3" height="18" rx="1" />
                        </g>
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </span>
            <!--end::Icon-->
            <!--begin::Title-->
            <div class="flex-grow-1 me-2">
                <a href="#" class="fw-bolder text-gray-800 text-hover-primary fs-6">
                    No Favourite Service Users Yet.
                </a>
                <span class="text-muted fw-bold d-block">Click on the star (<img src="/media/svg/files/on_favourite_star.svg"class="h-20px align-self-center cursor-pointer p-1" alt="" />) icon next to the service user name to favourite it</span>
            </div>
            <!--end::Title-->            
        </div>
        <!--end::Item-->
    </div>
    <!--end::Body-->
</div>
}
 
